body.dp-welcome {
  background: url('images/welcome-bored-audience.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .welcome-text {
    color: white;
    text-shadow: #000 1px 1px 1px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

// optimize the 1366x768 case
@media (min-width: 1200px) and (max-width: 1360px) {
  body.dp-welcome {
    .welcome-text {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}
