.dp-reveal-theme-solarized {
  @import "../bower_components/reveal.js/css/theme/source/solarized.scss";

  color-profile: sRGB;
  rendering-intent: auto;
  background: #fdf6e3;
  background-color: #fdf6e3;

  .reveal {
    border: 1px dashed #999;
  }
}
