.dp-transformer-control {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.dp-transformer-control .dptc {
  position: absolute;
  margin: 0px;
  padding: 0px;
  max-width: 14px;
  min-width: 14px;
  max-height: 14px;
  min-height: 14px;
  background-color: white;
  border: 1px solid black;
}
.dp-transformer-control .dptc-resize-nw {
  left: -7px;
  top: -7px;
  cursor: nw-resize;
}
.dp-transformer-control .dptc-resize-ne {
  right: -7px;
  top: -7px;
  cursor: ne-resize;
}
.dp-transformer-control .dptc-resize-sw {
  left: -7px;
  bottom: -7px;
  cursor: sw-resize;
}
.dp-transformer-control .dptc-resize-se {
  right: -7px;
  bottom: -7px;
  cursor: se-resize;
}
.dp-transformer-control .dptc-resize-n {
  top: -7px;
  left: 50%;
  cursor: n-resize;
}
.dp-transformer-control .dptc-resize-s {
  bottom: -7px;
  left: 50%;
  cursor: s-resize;
}
.dp-transformer-control .dptc-resize-w {
  left: -7px;
  top: 50%;
  margin-top: -7px;
  cursor: w-resize;
}
.dp-transformer-control .dptc-resize-e {
  right: -7px;
  top: 50%;
  margin-top: -7px;
  cursor: e-resize;
}
