@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

body.dp {
  overflow-x: hidden !important;
  overflow-y: auto !important;

  * {
    //border-radius: 0px !important;
  }

  .dp-slides {
    width: 960px;
    height: 700px;
  }

  .dp-navbar {
    margin-top: 10px;
  }

  .dp-author-navbar {
    padding-left: 22px;
    width: 50%;
  }

  .container {
    min-width: 1058px;
    max-width: 1058px;
  }

  .dp-container {
    min-height: 780px;
  }

  .dp-slide {
    .panel-heading {
      box-shadow: #bbb 0px 0px 15px;
    }

    &-focused {
      .panel-heading {
        box-shadow: #2e6da4 0px 0px 15px;
      }
    }

    &-placeholder {
      min-height: 800px;
      z-index: -1;
    }
  }

  .dropdown-menu > li > a {
    padding-left: 12px;
    padding-right: 12px;
  }

  .dp-navbar {
  }

  .dp-brand {
    height: 48px;
    padding: 4px 5px;
    padding-top: 0px;

    .fa-stack-1x {
      color: #428bca;
    }
  }

  .dp-logo {
    color: #777;
    .fa-stack-1x {
      color: #428bca;
    }
  }

  .dp-navbar-menu {
    margin-right: -25px !important;
  }

  .dp-title {
    width: 400px;
  }

  .dp-saving {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-name: pulse;
  }

  .dp-action-info {
    color: #999;
    margin-right: 8px;
  }

  .dp-panel {
    overflow: auto;
    min-width: 980px;

    .panel-heading {
      min-height: 34px;
    }

    .panel-body {
      padding: 8px 8px;
      min-height: 716px;
      overflow: hidden;
    }

    .new-slide {
      text-align: center;
      line-height: 400px;
    }

    .content {
      text-align: center;
    }

    .dp-content {
      margin: auto;
      min-width: 960px;
      min-height: 700px;
      max-height: 700px;
      position: relative;
    }
  }

  .dp-sortable-enabled {
    .sortable-handle {
      background-color: #428bca;
      color: white;
      cursor: move;
    }
  }

  .dp-deck {
    position: absolute;
    width: 100%;
    height: 776px;
    min-height: 776px;
    left: 0px;
    top: 82px;
    overflow-x: hidden;
    overflow-y: hidden;
    perspective: 400px;

    .dp-slide {
      overflow: hidden;

      &-container {
        padding-left: 78px;
        position: absolute;
        left: 0px;
        right: 0px;
        width: 1060px;
        float: left;
        margin-right: 12px;
        transition: all .3s ease-in-out;
      }

      &-other {
        display: none;
      }

      &-current {
        margin-left: 50%;
        transform: translateX(-50%);
      }

      &-prev, &-next {
        opacity: 0.5;
        //filter: blur(1px);
        cursor: pointer;
        margin-left: 50%;

        &:hover {
          opacity: 0.9;
          //filter: none;
        }
      }

      &-prev {
        transform: translateX(-143%) scale(0.95) rotateY(1.5deg);
      }

      &-next {
        transform: translateX(43%) scale(0.95) rotateY(-1.5deg);
      }

      &-prev-placeholder {
        min-width: 1000px;
        width: 1000px;
        min-height: 980px;
        float: left;
        margin-left: -865px;
      }
    }

    .slide {
    }

    &-item {
      &:hover {
        background-color: #eee;
      }
    }
  }

  div.sortable-placeholder {
    width: 260px;
    float: left;
    position: relative;
    margin-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px dashed #e7e7e7;
    border-radius: 8px;
    min-height: 238px;
  }

  .dp-tools-container {
    padding: 0px 0px;
  }

  .dp-toolbar {
    max-width: 58px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    clear: none;

    .dplogo-block {
      hr {
        margin-top: 8px;
        margin-bottom: 0px;
        border-color: #e7e7e7;
      }
    }

    li {
      text-align: center;
    }

    li.active a {
      background-color: #999 !important;
      color: #ffffff;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      border-radius: 4px;
      &:hover {
        color: #e7e7e7;
      }
    }

    .navbar-collapse {
      height: auto;
      border-top: 0;
      box-shadow: none;
      max-height: none;
      padding-left:0;
      padding-right:0;
    }
    .navbar-collapse.collapse {
      display: block !important;
      width: auto !important;
      padding-bottom: 0;
      overflow: visible;
    }
    .navbar-collapse.in {
      overflow-x: visible;
    }
    .navbar {
      max-width:300px;
      margin-right: 0;
      margin-left: 0;
    }
    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header {
      float:none !important;
    }
    .navbar-right .dropdown-menu {
      left:0;right:auto;
    }
    .navbar-collapse .navbar-nav.navbar-right:last-child {
      margin-right: 0;
    }
  }

  .dp-deck-thumb {
    padding-left: 0px;
    padding-right: 0px;
    width: 94.1%;
  }

  .list-group-item {
    padding: 18px 28px;

    &-text {
      margin-bottom: 18px;
    }

    &-text-span {
      margin-right: 28px;
    }
  }

  .in-transform {
    cursor: pointer;
  }

  .in-transform, .in-edit {
    border: 1px solid #428bca;
    box-shadow: #888 0px 0px 1px;
  }

  .dp-hover-checked:hover .fa-square-o:before {
    content: "\f046";
  }

  .dp-popover {
    overflow-x: hidden;
  }

  .dp-btn-group-block-2 {
    width: 100%;
    > button {
      width: 50%;

      &:hover {
      }
    }
  }

  .dp-slide-layout-tab-container {
    height: 518px;
    max-height: 518px;
    overflow-y: hidden;
    width: 10000px;

    .dp-slide-layout-tab {
      float: left;
      width: 450px;
      margin-right: 15px;
      transition: all 0.4s ease;
    }
  }

  .dp-slide-layout-thumb {
    width: 49%;
    height: 169px;
    border: 1px solid #bbb;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      border: 1px solid #428bca;
      opacity: 1;
    }

    .reveal {
      &:after {
        background-color: transparent;
      }
    }

    .dp-slide-layout-thumb-content {
      position: relative;
      left: 0px;
      top: 0px;
      transform: scale(0.23);
    }
  }

  .dp-slide-preview-thumb {
    width: 100%;
    height: 137px;
    border: 1px dotted #aaa;

    .reveal {
      &:after {
        background-color: transparent;
      }
    }

    .dp-slide-preview-thumb-content {
      position: relative;
      left: 0px;
      top: 0px;
      transform: scale(0.192);
    }
  }

  .dp-pager {
    //background-color: rgba(231,231,231,0.8);
    //border-radius: 4px;
    padding: 4px;
    //border: 1px solid #e7e7e7;

    .badge {
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: #428bca;
        color: #fff;
      }

      &-active {
        background-color: #428bca;
        color: #fff;
        transform: scale(1.3);
      }
    }
  }

  .dp-footer {
    color: #fff;
    text-shadow: #000 0px 0px 5px;
    margin-top: 10px;
  }
}

// optimize the 1366x768 case
@media (min-width: 1200px) and (max-width: 1360px) {
  body.dp {
    .dp-navbar {
      margin-top: 2px;
      margin-bottom: 4px;
    }

    .dp-panel {
      max-width: 966px;
      min-width: 966px;

      .panel-body {
        max-width: 920px;
        min-height: 642px;
      }
    }

    .container {
      min-width: 1028px;
      max-width: 1028px;
    }

    .dp-container {
      min-height: 702px;
    }

    .dp-slide-container {
      max-height: 720px;
      overflow-y: hidden;
    }

    .dp-tools-container {
      min-width: 1028px;
      max-width: 1028px;
    }

    .dp-deck {
      top: 58px;

      .dp-panel {
        .panel-body {
          max-height: 642px;
        }
      }
    }

    .dp-slide-placeholder {
      min-height: 616px;
    }

    .dp-content {
      transform: scale(0.894) translateY(-38px);
    }
  }
}

